@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.font1 {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1700px;
  height: 100%;
}

.textMenu {
  font-size: 16px;
  font-weight: 500;
  color: var(--character-primary-85, rgba(0, 0, 0, 0.85));
}

.label-mid {
  font-size: 16px;
  font-weight: 500;
  color: var(--character-primary-inverse, #FFF);
}

.label-larg {
  font-size: 20px;
  font-weight: 500;
  color: var(--character-primary-inverse, #FFF);
}

.medium-h4 {
  font-size: 20px;
  font-weight: 500;
  color: var(--character-primary-inverse, #FFF);;
}

.medium-h1 {
  font-size: 38px;
  font-weight: 500;
  color: var(--character-primary-85, rgba(0, 0, 0, 0.85));

}

.medium-h2 {
  font-size: 30px;
  font-weight: 500;
  color: var(--character-primary-inverse, #FFF);
}

.medium-h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--character-primary-inverse, #FFF);

}

.regular-h5 {
  font-size: 16px;
  font-weight: 400; 
  color: var(--character-secondary-45, rgba(0, 0, 0, 0.45));
}

.regular {
  font-size: 16px;
  font-weight: 400; 
  color: var(--character-primary-85, rgba(0, 0, 0, 0.85));
}

.description {
  font-size: 12px;
  font-weight: 400px;
  color: var(--character-success, #52C41A);
}

.overlay {
  background: linear-gradient(180deg, rgba(58, 58, 58, 0.00) 0%, #1D1D1D 100%);
}

.bg {
  background: var(--character-secondary-45, rgba(0, 0, 0, 0.45));
}

.h6 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--neutral-600, #4E545F);
}